.created-workouts-heading {
  color: goldenrod; /* Set the text color to goldenrod */
  text-shadow: 2px 2px 4px black; /* Add a black shadow with offsets (adjust values as needed) */
  text-align: center; /* Center align the text */
}

.created-workouts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(122, 35, 122));
    text-align: center;
  }
  
  .created-workouts-form {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 2px solid goldenrod;
    z-index: 4;
    width: 80%;
    max-width: 1460;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(122, 35, 122));
  }
  .created-workouts-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: goldenrod;
    border: none;
    color: black;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .created-workouts-button:hover {
    transform: scale(1.1); /* Scale the button to 110% on hover */
  }
  
  .created-workouts-form input[type="text"],
  .created-workouts-form textarea,
  .created-workouts-form input[type="number"],
  .created-workouts-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid goldenrod;
    color: goldenrod;
  }
  
  
  
  
  
  